{{- $page := .page }}
{{- $coordinates := .coordinates }}
{{- with $page }}
    {{- .Store.Set "hasLeaflet" true }}    
    {{ if (eq ($coordinates | len) 2) }}
    

        <div id="map" style="height: 420px;"></div>
        
        <script>
            const map = L.map('map').setView([{{index $coordinates 0}}, {{index $coordinates 1}}], 13);
            L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png', {
                maxZoom: 20,
                attribution: 'Map data &copy; <a href="https://www.statkart.no/">Statens Kartverk</a>, <a href="https://www.statkart.no/nor/Land/Fagomrader/Geovekst/">Geovekst</a>, <a href="https://www.statkart.no/?module=Articles;action=Article.publicShow;ID=14194">kommuner</a> og <a href="https://www.npolar.no/">Norsk Polarinstitutt</a>'
            }).addTo(map);

            const marker = L.marker([{{index $coordinates 0}}, {{index $coordinates 1}}]).addTo(map);
        </script>
    {{ end }}
{{- end }}
